  /** import fonts **/

  @font-face {
      font-family: 'NotoSans-Bold';
      src        : url('../fonts/NotoSans-Bold.ttf');
  }

  @font-face {
      font-family: 'NotoSans-Regular';
      src        : url('../fonts/NotoSans-Regular.ttf');
  }





  /** declare variables **/

  :root {
      --azure             : #7acaef;
      --blue              : #4cb4e7;
      --grey              : #3c3c3c;
      --working-area-width: 1400px;
      --font-very-large   : 114pt;
      --font-large        : 46pt;
      --font-medium       : 40pt;
      --font-small        : 20pt;
      --font-button       : 15pt;
      --font-very-small   : 13pt;
  }

  /* laptop */
  @media screen and (max-width: 1600px) {
      :root {
          --working-area-width: 88%;
          --font-very-large   : 9vw;
      }
  }

  /* smartphone */
  @media screen and (max-width: 650px) {
      :root {
          --font-very-large: 9.5vw;
          --font-large     : 8.5vw;
          --font-medium    : 7vw;
          --font-small     : 5vw;
          --font-button    : 3.5vw;
          --font-very-small: 4vw;
      }
  }



  /** common styles **/

  .working-area {
      position: absolute;
      width   : var(--working-area-width);
      height  : fit-content;
      margin  : auto auto;
      left    : 0;
      right   : 0;
      color   : var(--grey) !important;

  }

  .container {
      padding-right: 0 !important;
      padding-left : 0 !important;
      max-width    : 100% !important;
  }

  .row {
      column-gap: 40px;
      width     : 100% !important;
  }

  .col-sm-4 {
      width: 31% !important;
  }

  .table-title-grey {
      font-family   : 'NotoSans-Bold';
      font-size     : var(--font-small);
      padding-bottom: 10px;
  }

  .normal-text-grey {
      font-family: 'NotoSans-Regular';
      font-size  : var(--font-very-small);
  }

  .yaookButton {
      background-color: var(--azure);
      display         : table-cell;
      width           : 270px;
      height          : 60px;
      cursor          : pointer;
      color           : #ffffff;
      font-family     : 'NotoSans-Bold';
      font-size       : var(--font-button);
      vertical-align  : middle;
      text-decoration : none;
      text-align      : center;
  }

  .yaookButton:hover {
      background-color: var(--blue);
      color           : #ffffff;
      text-decoration : none;
  }

  .yaookButton:active {
      text-decoration: none;
  }

  .yaookButton-white {
      background-color: white;
      display         : table-cell;
      width           : 270px;
      height          : 60px;
      cursor          : pointer;
      color           : var(--blue);
      font-family     : 'NotoSans-Bold';
      font-size       : var(--font-button);
      vertical-align  : middle;
      text-decoration : none;
      text-align      : center;
  }

  .yaookButton-white:hover {
      background-color: var(--azure);
      color           : #ffffff;
      text-decoration : none;
  }

  .yaookButton-white:active {
      text-decoration: none;
  }

  /* laptop */
  @media screen and (max-width: 1600px) {
      .row {
          column-gap: none;
          width     : 1400px;
      }
  }

  /* tablet */
  @media screen and (max-width: 1400px) {
      .row {
          column-gap: none !important;
          width     : 100% !important;
          row-gap   : 40px !important;
      }

      .col-sm-4 {
          width: 100% !important;
      }

      .column2 {
          width: 46% !important;
      }
  }

  /* smartphone */
  @media screen and (max-width: 650px) {
      .column2 {
          width: 100% !important;
      }

      .yaookButton, .yaookButton-white {
          width      : 40vw;
          height     : 10vw;
      }
  }









  /** welcome-section **/

  .welcome-section {
      min-height       : 880px;
      max-height       : 1200px;
      width            : 100%;
      height           : fit-content;
      background-image : url(../img/winter.jpg);
      background-repeat: no-repeat;
      background-size  : 100% 100%;
      margin           : 0 auto;
      border-bottom    : 20px solid var(--azure);
  }

  img.center {
      display: block;
      margin : 10px auto;
  }

  .welcome-title {
      position   : relative;
      top        : 260px;
      font-family: 'NotoSans-Bold';
      font-size  : var(--font-large);
  }

  .lifecycle-title span {
      background-color: var(--blue);
      color           : white;
      font-family     : 'NotoSans-Bold';
      font-size       : var(--font-large);
  }

  .lifecycle-title {
      position: relative;
      top     : 310px;
  }


  @media screen and (max-width: 1400px) {
      .welcome-section {
          min-height: 1100px;
      }

      .welcome-title {
          top      : 240px;
          font-size: var(--font-medium);
      }
  }

  @media screen and (max-width: 650px) {
      .welcome-section {
          min-height: 850px;
      }

      .welcome-title {
          top      : 4em;
          font-size: var(--font-medium);
      }

      .lifecycle-title {
          top: 14em;
      }
  }



  /**  project-section **/

  .project-section {
      min-height: 600px;
  }

  .title-dark {
      position   : relative;
      top        : 160px;
      font-family: 'NotoSans-Bold';
      font-size  : var(--font-large);
  }

  .project-container {
      position: relative;
      top     : 300px;
  }

  /* tablet */
  @media screen and (max-width: 1400px) {
      .project-section {
          min-height: 900px;
      }
  }

  /* smartphone */
  @media screen and (max-width: 650px) {
      .project-section {
          min-height: 1020px;
      }

      .title-dark {
          top: 10vw;
      }

      .project-container {
          top: 20vw;
      }
  }






  /** overview-section **/

  .overview-section {
      min-height     : 1350px;
      margin-top     : 0;
      background     : url('../img/Husky_blue.svg') bottom -20px left 0px no-repeat;
      background-size: 30%;
  }

  .table-title-azure {
      font-family   : 'NotoSans-Bold';
      font-size     : var(--font-small);
      padding-top   : 5px;
      padding-bottom: 10px;
      color         : var(--azure)
  }

  .overview-container {
      position: relative;
      top     : 350px;
  }

  .go-to-gitlab {
      position: relative;
      top     : 160px;
  }

  .title-right-dark {
      position   : relative;
      bottom     : 30px;
      font-family: 'NotoSans-Bold';
      font-size  : var(--font-large);
  }

  /* tablet */
  @media screen and (max-width: 1400px) {
      .overview-section {
          min-height: 1650px;
      }

      .go-to-gitlab {
          position: relative;
          top     : 60px;
      }

      .column-right {
          position: absolute;
          right   : 0;
          width   : 430px !important;
      }
  }

  /* smartphone */
  @media screen and (max-width: 650px) {
      .overview-section {
          min-height: 2100px;
      }

      .column-right {
          position: absolute;
          right   : 0;
          width   : 400px !important;
      }
  }



  /** partners-section **/

  .partners-section {
      min-height         : 1000px;
      background-image   : url('../img/Husky-white-cut.svg');
      background-repeat  : no-repeat;
      background-size    : 800px 1000px;
      background-color   : var(--azure);
      background-position: right -100px top 30%;
  }

  /* laptop */
  @media screen and (max-width: 1600px) {
      .partners-section {
          background-position: right -200px top 30%;
      }
  }

  @media screen and (max-width: 1400px) {
      .partners-section {
          min-height      : 1300px;
          background-image: none;
      }
  }

  .title-white {
      position   : absolute;
      top        : 180px;
      font-family: 'NotoSans-Bold';
      font-size  : var(--font-large);
      color      : white;
  }

  .table-title-white {
      font-family   : 'NotoSans-Bold';
      font-size     : var(--font-small);
      padding-top   : 5px;
      padding-bottom: 10px;
      color         : white;
  }

  .normal-text-white {
      font-family: 'NotoSans-Regular';
      font-size  : var(--font-very-small);
      color      : white;
  }





  /** lifecycle-management-section **/

  .lifecycle-management-section {
      min-height   : 1080px;
      margin-bottom: 90px;
  }

  .big-title-dark {
      position   : relative;
      top        : 130px;
      font-family: 'NotoSans-Bold';
      font-size  : var(--font-very-large);
      line-height: 115%;
  }

  .lifecycle-management-container {
      position: relative;
      top     : 250px;
  }

  @media screen and (max-width: 1400px) {
      .lifecycle-management-section {
          min-height   : 1080px;
          margin-bottom: 90px;
      }

      .big-title-dark {
          font-size: var(--font-very-large);
      }
  }



  /** get-in-touch-section **/
  .get-in-touch-section {
      height           : 465px;
      width            : 100%;
      background-image : url(../img/winter2.jpg);
      background-repeat: no-repeat;
      background-size  : 100% 100%;
      margin           : 0 auto;
      display          : block;
      border-bottom    : 20px solid var(--azure);
  }

  .get-in-touch-container {
      position: absolute;
      top     : 230px;
  }






  /** job-section **/
  .job-section {
      min-height   : 920px;
      margin-bottom: 130px;
  }

  @media screen and (max-width: 1400px) {
      .job-section {
          min-height: 800px;
      }
  }





  /** contact-section **/

  .contact-section {
      min-height      : 750px;
      background-color: var(--azure);
  }

  .whiteLink {

      display        : inline-block;
      cursor         : pointer;
      color          : #ffffff;
      font-family    : 'NotoSans-Regular';
      text-decoration: none;
      font-size      : var(--font-very-small);
  }

  .whiteLink:hover {
      color          : #ffffff;
      text-decoration: none;
  }

  .whiteLink:active {
      text-decoration: none;
  }

  .contact-container {
      position: relative;
      top     : 130px;
  }

  .bold-text-white {
      font-family: 'NotoSans-Bold';
      font-size  : var(--font-very-small);
      color      : white;
  }

  @media screen and (max-width: 1400px) {
      .contact-section {
          min-height: 1350px;
      }
  }